.quick-menu-container {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100vw;
    user-select: none;
}

.overlay {
    position: absolute;
    z-index: 7;
    background-color: rgba(0, 0, 0, .6);
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}

.quick-menu {
    position: absolute;
    z-index: 8;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20vw;
    background-color: rgb(10, 10, 10);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.quick-menu > button {
    background-color: transparent;
    border: 0;
    outline: 0;

    color: white;
    text-align: left;
    font-size: x-large;

    width: 80%;
    height: 35px;

    padding-left: 10px;
    border-left: 4px solid green;
}
.quick-menu > button:hover {
    background-color: rgb(70, 70, 70);
    cursor: pointer;
}

.menu-extra {
    position: absolute;
    z-index: 8;
    background-color: black;
    width: 60vw;
    height: 70vh;
    right: 10vw;
    top: 15vh;
    display: none;
}


.quick-menu-container.visible,
.quick-menu-container.closing {
    display: block;
}

.quick-menu-container.closed {
    display: none;
}

.quick-menu-container.visible > .overlay {
    animation: overlay;
    animation-duration: .4s;
}
.quick-menu-container.visible > .quick-menu {
    animation: showMenu;
    animation-duration: .4s;
}

.quick-menu-container.closing > .overlay {
    animation: hideOverlay;
    animation-duration: .4s;
    opacity: 0;
}
.quick-menu-container.closing > .quick-menu {
    animation: closeMenu;
    animation-duration: .4s;
    left: -20vw;
}

@keyframes overlay {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes hideOverlay {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;  
    }
}

@keyframes showMenu {
    0% {
        left: -20vw;
    }
    100% {
        left: 0;
    }
}
@keyframes closeMenu {
    0% {
        left: 0;
    }
    100% {
        left: -20vw;
    }
}